<ng-container *ngIf="expense">

  <!-- Lista de Gastos -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ expense.expenseName }}
      </mat-panel-title>
      <mat-panel-description>
        <strong>Categoría:</strong>&nbsp;{{ expense.category }}
      </mat-panel-description>
      <mat-panel-description>
        Monto:&nbsp;{{ expense.expenseAmount | currency: '₡' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider [ngStyle]="{ 'margin-bottom': '15px'}"></mat-divider>
    <div *ngIf="!editableExpense" [ngStyle]="{ 'text-align': 'center'}">
      <button mat-flat-button color="primary" (click)="editableExpense = !editableExpense">
        Editar
      </button>
      &nbsp;
      <button mat-flat-button color="warn" (click)="remove_expense.emit()">
        Borrar
      </button>
    </div>

    <div *ngIf="editableExpense" [ngStyle]="{ 'text-align': 'center'}" class="form-container">
      <mat-form-field>
        <mat-label>Nuevo Nombre</mat-label>
        <input matInput #expenseName="ngModel" ngModel
          (keyup.enter)="expense.expenseName = expenseName.value; update_expense.emit(); editableExpense = !editableExpense"
          required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nueva Categoría</mat-label>
        <input matInput ngModel #category="ngModel" required
          (keyup.enter)="expense.category = category.value; update_expense.emit(); editableExpense = !editableExpense" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nuevo Monto</mat-label>
        <input matInput ngModel name="expenseAmount" #expenseAmount="ngModel" type="number" min="0" required
          (keyup.enter)="expense.expenseAmount = expenseAmount.value; update_expense.emit(); editableExpense = !editableExpense" />
      </mat-form-field>

      <div style="padding-bottom: 20px;">
        <button mat-flat-button color="primary" (click)="
                    expense.expenseName = expenseName.value;
                    expense.expenseAmount = expenseAmount.value;
                    expense.category = category.value;
                    update_expense.emit();
                    editableExpense = !editableExpense
                    ">
          Save
        </button>
        &nbsp;
        <button mat-flat-button color="warn" (click)="editableExpense = !editableExpense">
          Cancel
        </button>
      </div>

    </div>
  </mat-expansion-panel>
</ng-container>
