<div *ngIf="budget.length > 0">
  <div [ngStyle]="{'margin-top': '30px'}">
    <!-- Edit budget form-->
    <div>
      <div *ngIf="editableBudget"
        [ngStyle]="{ 'width': '100%',  'max-width': '1024px', 'margin': '0 auto', 'text-align':'center'}">
        <h1>Editar Presupuesto</h1>

        <form class="form-container" id="editBudgetForm" (ngSubmit)="update_budget(); editableBudget = !editableBudget"
          #editBudgetForm="ngForm">

          <!-- Monto input -->
          <mat-form-field class="wide-input">
            <mat-label>Monto</mat-label>
            <input matInput ngModel name="budgetAmout" #budgetAmout="ngModel" placeholder="Ingrese Presupuesto"
              type="number" min="0" required />
            <mat-error *ngIf="!budgetAmout.valid && budgetAmout.touched">
              Monto es requerido
            </mat-error>
          </mat-form-field>

          <!-- Action buttons -->
          <div class="button-row">
            <button (click)="reloadCurrentPage();" mat-flat-button color="accent"
              [disabled]="!editBudgetForm.form.valid" [ngStyle]="{
                            'margin-top': '20px',
                            'margin-left': '10px',
                            padding: '28px'
                          }" type="submit">
              Guardar
            </button>
            &nbsp;
            <button mat-flat-button color="warn" [ngStyle]="{
                            'margin-top': '20px',
                            'margin-left': '10px',
                            padding: '28px'
                          }" (click)="editableBudget = !editableBudget">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="!editableBudget"
      [ngStyle]="{ 'width': '100%',  'max-width': '1024px', 'margin': '0 auto', 'text-align':'center'}">
      <h1><strong>Presupuesto</strong></h1>
      <!-- budget Table -->
      <table mat-table [dataSource]="budget" [ngStyle]="{ 'margin-top': '30px' }" *ngIf="!editableBudget">

        <!-- Monto -->
        <ng-container matColumnDef="monto">
          <mat-header-cell *matHeaderCellDef>Presupuesto</mat-header-cell>
          <mat-cell *matCellDef="let budget">{{ budget.budgetAmout | currency: '₡' }}</mat-cell>
        </ng-container>

        <!-- Buttom Columns -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
          <mat-cell *matCellDef="let budget">
            <button mat-flat-button color="accent" (click)="search_budget(budget.id);editableBudget = !editableBudget">
              Editar
            </button>
            &nbsp;
            <button mat-flat-button color="warn" (click)="delete_budget(budget); reloadCurrentPage();">
              Borrar
            </button>
          </mat-cell>
        </ng-container>
        <!-- table settings -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </div>
</div>

<div *ngIf="budget.length == 0" [ngStyle]="{'margin-top': '40px'}">
  <div [ngStyle]="{ 'width': '100%',  'max-width': '1024px', 'margin': '0 auto','text-align':'center'}">
    <h1><strong>Añadir Presupuesto</strong></h1>

    <form class="form-container" id="addExpenseForm" (ngSubmit)="add_budget(); newBudgetForm.resetForm()"
      #newBudgetForm="ngForm">

      <!-- Monto input -->
      <mat-form-field class="wide-input">
        <mat-label>Monto</mat-label>
        <input matInput ngModel #budgetAmout="ngModel" name="budgetAmout" id="budgetAmout"
          placeholder="Ingrese Presupuesto" required type="number" min="0" />
        <mat-error *ngIf="!budgetAmout.valid && budgetAmout.touched">
          Monto es requerido
        </mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <button matInput mat-flat-button [disabled]="!newBudgetForm.form.valid" (click)="reloadCurrentPage()" [ngStyle]="{
                        'margin-top': '-18px',
                        'margin-left': '10px',
                        padding: '28px'
                      }" color="accent" type="submit">
        Añadir
      </button>
    </form>
  </div>
</div>
