<div class="wrapper">
  <app-header [title]="title"></app-header>
  <div [ngStyle]="{ 'width': '90%',  'max-width': '1024px', 'margin': '0 auto'}">

    <!-- Info Presupuesto -->
    <div class="budget" [ngStyle]="{ 'text-align': 'center', 'margin-top': '40px' }">
      <app-budget></app-budget>
    </div>

    <!-- New expense form -->
    <div *ngIf="budget.length > 0">
      <div *ngIf="!editableExpense" [ngStyle]="{ 'text-align': 'center' }">
        <h1 [ngStyle]="{ 'margin-top': '30px',  'margin-bottom': '35px' }"><strong>Añadir Gasto</strong></h1>
        <form class="form-container" id="addExpenseForm" (ngSubmit)="add_expense(); newExpenseForm.resetForm()"
          #newExpenseForm="ngForm">
          <!-- Gasto input -->
          <mat-form-field class="wide-input">
            <mat-label>Gasto</mat-label>
            <input matInput ngModel #expenseName="ngModel" name="expenseName" id="expenseName"
              placeholder="Nombre Gasto" required />
            <mat-error *ngIf="!expenseName.valid && expenseName.touched">
              Gasto es requerido
            </mat-error>
          </mat-form-field>

          <!-- Categoria input -->
          <mat-form-field class="wide-input">
            <mat-label>Categoría</mat-label>
            <input matInput ngModel #category="ngModel" name="category" id="category" placeholder="Categoría"
              required />
            <mat-error *ngIf="!category.valid && category.touched">
              Categoría es requerida
            </mat-error>
          </mat-form-field>

          <!-- Monto input -->
          <mat-form-field class="wide-input">
            <mat-label>Monto</mat-label>
            <input matInput ngModel #expenseAmount="ngModel" name="expenseAmount" id="expenseAmount"
              placeholder="Ingrese un Gasto " required type="number" min="0" />
            <mat-error *ngIf="!expenseAmount.valid && expenseAmount.touched">
              Monto es requerido
            </mat-error>
          </mat-form-field>

          <!-- Submit button -->
          <button matInput mat-flat-button [disabled]="!newExpenseForm.form.valid" [ngStyle]="{
                      'margin-top': '-18px',
                      'margin-left': '10px',
                      padding: '28px'
                    }" color="accent" type="submit">
            Add
          </button>
        </form>
      </div>
      <div *ngIf="all_expenses.length > 0">
        <h1 [ngStyle]="{ 'margin-top': '20px','text-align': 'center', 'margin-bottom': '35px' }"><strong>Gastos</strong>
        </h1>
        <div *ngFor="let i of show_expenses" [ngStyle]="{ 'margin-bottom': '10px' }">
          <app-expenses [expense]="i" (update_expense)="update_expense(i)"
            (remove_expense)="delete_expense(i)"></app-expenses>
        </div>
      </div>
    </div>

    <div *ngIf="budget.length > 0">
      <br><br>
      <mat-divider></mat-divider>
      <br><br>
      <h3 *ngFor="let budget of show_budget">
        <strong>Presupuesto</strong> {{budget.budgetAmout | currency: '₡'}}
      </h3>
      <h3 *ngIf="budget">
        <strong>Gastos totales</strong> {{ totalExpenses | currency: '₡' }}
      </h3>
      <h3 *ngIf="budget">
        <strong>Balance</strong> {{ balance | currency: '₡' }}
      </h3>
    </div>
  </div>
  <br>
  <app-footer></app-footer>

</div>
